h1 {
  text-align: center;
}

h2.intro {
color: red;
font-style: italic;
font-style: bold;
text-align: center;
}

p.intro {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
font-size: 20px;
line-height: 40px;
}

img.intro {
border-radius: 50%;
}
